.footer {
    background-color: #64f7d9;
    /* Darker blue */
    color: #f0eded;
    /* Light gray text */
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: white;
    margin-top: 40px;
    font-size: 0.9rem;
}

.footerLinks li a {
    color: #797272;
    /* soft light color */
    transition: color 0.3s ease;
}

.footerLinks li a:hover {
    color: white;
    text-decoration: none;
}